{% extends 'base.html' %}
{% block title %}Feedback!{% endblock %}
{% block content %}


{% if user.is_authenticated %}
<div class="container">
    <h1>Send Feedback</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-primary">send</button>
        </form>
    </div>
</div>




{% else %}

None

{% endif %}

{% endblock %}